html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.p_img-1 {
  background-image: url(images/image1.png);
  min-height: 100%;
}
.p_img-2 {
  background-image: url(images/image2.png);
  min-height: 400px;
}
.p_img-3 {
  background-image: url(images/image3.png);
  min-height: 400px;
}
.p_img-1,
.p_img-2,
.p_img-3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.p_text-1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.p_text-bg-1 {
  background-color: #313534;
  color: #fff;
  padding: 20px;
}
.section1 {
  padding: 50px 80px;
  text-align: center;
}
.section-light1 {
  background-color: #f4f4f4;
  color: #666;
}
.p_text-2 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.p_text-bg-2 {
  background-color: #313534;
  color: #fff;
  padding: 20px;
}
.section2 {
  padding: 50px 80px;
  text-align: center;
}
.section-light2 {
  background-color: #282e34;
  color: #ddd;
}
.p_text-3 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.p_text-bg-3 {
  background-color: #313534;
  color: #fff;
  padding: 20px;
}
.section3 {
  padding: 50px 80px;
  text-align: center;
}
.section-light3 {
  background-color: #282e34;
  color: #ddd;
}
