@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.first_section {
  background-image: url(./images/developer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.first_section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.first_section-h1 {
  font-size: 30px;
  font-weight: 500;
}
.first_section-h1 span {
  font-size: 72px;
  font-weight: 700;
}

/* middle section */

.middle_section p {
  background-color: black;
  color: white;
  padding: 25px 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}
.middle_section p span {
  font-size: 72px;
  font-weight: 700;
}

/* card section  */

.card_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 70px 100px;
  gap: 40px;
}
.card_section-card {
  width: auto;
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  border-radius: 10px;
}
.card_section-card img {
  width: 300px;
  height: 200px;
}
.card_section-text {
  max-width: 300px;
  text-align: start;
}
.card_section-text p {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 5px 15px;
}
.card_section-heading {
  font-size: 20px;
  font-weight: 500;
}

/* last section  */

.last_section {
  display: flex;
  flex-direction: row;
}
.last_section-contact {
  background-color: #0369b8;
  color: white;
  padding: 10px 25px;
}
.last_section-heading1 {
  font-size: 25px;
  font-weight: 600;
}
.last_section-about {
  background-color: #b9098d;
  color: white;
  padding: 10px 25px;
}
.last_section-heading2 {
  font-size: 25px;
  font-weight: 600;
}
.footer {
  background-color: black;
  padding: 15px 25px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
}
